<!DOCTYPE html>
<html>
<head>
    <title>
        @RenderSection("Title", required: false)
    </title>
    @RenderSection("SiteHead", false)
</head>
<!-- js and css -->
<link rel="stylesheet" media="screen,projection" type="text/css" href="@Url.Content("~/Content/Styles/share.css") " />
<link rel="stylesheet" media="screen,projection" type="text/css" href="@Url.Content("~/Content/Styles/mystyle.css") " />
<link rel="stylesheet" media="screen,projection" type="text/css" href="@Url.Content("~/Content/Styles/jquery.tooltip.css") " />
<link rel="stylesheet" media="screen,projection" type="text/css" href="@Url.Content("~/Content/guestbook_d_out.css") " />
<link rel="stylesheet" media="screen,projection" type="text/css" href="@Url.Content("~/Content/color_out.css") " />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.4.2.min.js") "></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/switcher.js") "></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/toggle.js") "></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ui.tab.js") "></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.13.js") " type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css") " rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ui.ym.js") "></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-timepicker-addon.js") "></script>
<script src="@Url.Content("~/Scripts/you-may.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.form.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.command.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/you-may.jquery.fn.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tooltip.min.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/you-may.jquery.multiupload.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.cookie.min.js") " type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/you-may.lib.js") " type="text/javascript"></script>
<body>
    <div class="top">
        <div class="logo">
        </div>
        <div class="userBox">
            <img src="../../Content/Images/user_header.png" style="vertical-align: text-bottom;
                margin-right: 2px;" />
            <a href="#">(定制)</a>
        </div>
        <div class="breadNav">
            @RenderSection("SiteMap", false)
        </div>
    </div>
    <div class="mainbody">
        <table class="tContainer" border="0px" align="center" style="width: 98%; border-collapse: collapse;
            margin: 0px auto; position: relative; display: block; min-width: 975px;">
            <tr>
                @*<td class="hideNav" rowspan="5" valign="top" style="width: 160px;">
                    <div style="width: 160px; height: 1px;">
                    </div>
                </td>
                <td class="sideBarContainer" rowspan="5" style="width: 12px;" valign="top">
                    <div class="hideNavBar navBarHide">
                    </div>
                </td>*@
                <td colspan="2" valign="top" style="height: 38px;">
                    <div class="articleTitle">
                        <div class="bg">
                            <div style="width: 790px; font-size: 15px; color: infobackground;">
                                @RenderSection("SitePageName", false)
                            </div>
                        </div>
                        <div class="lt">
                            &nbsp;</div>
                        <div class="rt">
                            &nbsp;</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="articleLt" style="padding: 0px;">
                    <div class="articleRt" style="padding: 2px; background-color: transparent">
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top" class="articleLt" width="10000px;">
                    <div style="min-height: 491px;background-image:url(../../Content/Images/ContantBack.jpg)">
                        @RenderBody()
                    </div>
                </td>
                <td valign="top" class="articleRt" style=" padding-right:2px;">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="articleFloor">
                        <div class="bg">
                        </div>
                        <div class="lt">
                            &nbsp;</div>
                        <div class="rt">
                            &nbsp;</div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="floorTop" style="color:Green;">
            <marquee behavior="scroll" direction="left" style="padding-top: 20px; margin: 0px 15px"
                loop="-1" scrollamount="2" scrolldelay="0" onmouseout="this.start()" onmouseover="this.stop()">
        我们遇见这个人，遇见那个人，却一直想念不该想念的人...
        </marquee>
        </div>
        <div class="floorText">
            <p>
                <a target="_blank" href="http://user.qzone.qq.com/418493429">访问Shiny的空间</a> | <a target="_blank" href="http://user.qzone.qq.com/418493429">联系Shiny</a>
                | <a class="serviceLink" href="http://user.qzone.qq.com/653693115">疑问中心</a>
            </p>
            <p>
                Copyright © 2011-2012 Desting. All Rights Reserved. 鄂ICP备13143344号-N</p>
        </div>
        <div class="service" style="display: none; overflow-y: hidden">
            <table>
                <tr>
                    <th style="width: 405px;">
                        广州富士通办事处地图
                    </th>
                    <th>
                        广州富士通各种产品的联络方法
                    </th>
                </tr>
                <tr>
                    <td rowspan="3">
                        @Html.Image("map.jpg")
                    </td>
                    <td valign="top">
                        <p>
                            联系方式：富士通(中国)信息系统有限公司 广州分公司</p>
                        <p>
                            地址：广州市天河北路28号 时代广场中座1103室</p>
                        <p>
                            邮编：510620</p>
                        <p>
                            联系电话：+86-20-6684-1888</p>
                        <p>
                            传真号码：+86-20-6684-1881</p>
                        <p>
                            联系电邮：FCSS@homs-fujitsu.com
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
