@model FCSS.Management.Web.Models.Issue.IssueTopModel
<script type="text/javascript">
    $(function () {
        var q = $(".question");
        var foldStatus = 0;
        $(".foldText").click(function () {
            if (foldStatus == 0) {
                q.children("dl").hide();
                q.children("dl:first").show();
                q.children("dl:last").show();
                if ($(".foldText").size() > 1)
                    $(".foldText").attr("title", "@FCSSResource.OpenSeeAll").removeClass("foldTextDown").addClass("foldTextUp").first().hide();
                foldStatus = 1;
            } else {
                q.children("dl").show();
                $(".foldText").attr("title", "@FCSSResource.CloseSeeNew").removeClass("foldTextUp").addClass("foldTextDown").show();
                foldStatus = 0;
            }
        }).eq(0).click();

        $(".userReplyBtn").click(function () {
            $(".userReply[action=" + $(this).attr("action") + "]").css({ display: "inline" }).dialog({ width: 800, height: 380 }).show();
        });

        $(".cco").each(function () {
            var cco = $(this).html().replace(/\;/g, "</li><li>");
            $(this).html("<li>" + cco + "</li>");
        });

    });
    
</script>
<style type="text/css">
    .userReply div
    {
        border-bottom: 1px solid #f9f9f9;
    }
</style>
<div class="question fileLink">
    <dl class="aboutQ" style="border-top: 0px">
        <dt>
            <div class="rw">
                <b style="word-wrap: break-word; display: block; margin-bottom: -10px">@Model.IssueTopInfo.Title</b><br />
                <span>@FCSSResource.SendTime：@Model.IssueTopInfo.SendDate.ToString("yyyy-MM-dd HH:mm")</span>&nbsp;&nbsp;&nbsp;
                @if (Model.IssueTopInfo.ExpectReplyDate.HasValue)
                {
                    <span>@FCSSResource.HopeResponseTime：
                        @{var date = Model.IssueTopInfo.ExpectReplyDate.HasValue ? Model.IssueTopInfo.ExpectReplyDate.Value.ToString("yyyy-MM-dd") : "";}
                        @date
                    </span>@Html.Raw("&nbsp; &nbsp; &nbsp;")
                }
                <span>@FCSSResource.Follower：@Model.IssueTopInfo.Follower.Name</span> &nbsp;&nbsp;
                @Html.Image("text.png", new { action = "ur_issue", @class = "userReplyBtn" })
            </div>
        </dt>
        <dd>
            <div class="rw">
                <span class="questionContent">
                    @Html.Raw(Model.IssueTopInfo.Content)
                </span><span style="display: block; border-bottom: 1px dashed #eee;"></span>
                @if (Model.IssueTopInfo.Attachments.Count < 1)
                {
                    <span>&nbsp;</span> 
                }
                @foreach (var attach in Model.IssueTopInfo.Attachments)
                {
                    <span class="attachement">
                        @Html.ActionLink(attach.Name, "Download", "Common", new { id = attach.Id }, null)
                    </span> 
                }
                @if (Model.IssueTopInfo.Replys.Count >= 2)
                {
                    <div class="foldText" title="@FCSSResource.CloseSeeNew" >
                    </div>
                }
            </div>
        </dd>
        <dd class="qIco">
        </dd>
        <dd action=@("ur_issue") class="userReply" style="display: none;">
            <fieldset class="form-layout twoCol" style="padding: 0px 10px 10px 10px; overflow: hidden">
                <div class="oneRow custom">
                    <label for="WBSNo" style="line-height: 92px; display: inline-block; float: left;">
                        @FCSSResource.CarbonCopyOther @* 抄送组外人员*@：</label>
                    <ul class="accessory cco" style="width: 300px;">
                        @Model.IssueTopInfo.CarbonCopyOtherEmailAddress
                    </ul>
                </div>
                <div class="oneRow custom">
                    <label for="WBSNo" style="line-height: 92px; display: inline-block; float: left;">
                        @FCSSResource.CarbonCopyUsers @* 抄送组成员*@：</label>
                    <ul class="accessory" style="width: 300px;">
                        @foreach (var ccu in Model.IssueTopInfo.CarbonCopyUsers)
                        {
                            <li>@(ccu.Name + "<" + ccu.Email + ">")</li>
                        }
                    </ul>
                </div>
            </fieldset>
        </dd>
    </dl>
    @{
        var index = 1;
        foreach (var item in Model.IssueTopInfo.Replys)
        {
            if (item.Category.Equals(FCSS.Model.Enums.ReplyCategory.Claim))
            {
            
        <dl class="getQ">
            <dt><b>@FCSSResource.IssueClaim</b><br />
                <span>@FCSSResource.SendTime：@item.SendDate.ToString("yyyy-MM-dd HH:mm")</span>&nbsp;&nbsp;&nbsp;
                <span>@FCSSResource.Operator：@item.Replyer.Name</span> </dt>
            <dd class="rw">
                <span class="questionContent">@Html.Raw(item.Content)</span>
                @if (index == Model.IssueTopInfo.Replys.Count && Model.IssueTopInfo.Replys.Count >= 1)
                {
                    <div class="foldText" title="@FCSSResource.CloseSeeNew" >
                    </div>
                }
            </dd>
            <dd class="qIco">
            </dd>
        </dl>
            }
            if (item.Category.Equals(FCSS.Model.Enums.ReplyCategory.Transfer))
            {
            
        <dl class="getQ">
            <dt><b>@FCSSResource.TransferFollower</b><br />
                <span>@FCSSResource.SendTime：@item.SendDate.ToString("yyyy-MM-dd HH:mm")</span>&nbsp;&nbsp;&nbsp;
                <span>@FCSSResource.Operator：@item.Replyer.Name</span>&nbsp;&nbsp;&nbsp; <span>@FCSSResource.NewFollower：@(item.NewFollower != null ? item.NewFollower.Name : null)</span>
            </dt>
            <dd class="rw">
                <span class="questionContent">@Html.Raw(item.Content) </span>
                @if (index == Model.IssueTopInfo.Replys.Count && Model.IssueTopInfo.Replys.Count >= 1)
                {
                    <div class="foldText" title="@FCSSResource.CloseSeeNew" >
                    </div>
                }
            </dd>
            <dd class="qIco">
            </dd>
        </dl>
            }
            if (item.Category.Equals(FCSS.Model.Enums.ReplyCategory.SystemUserReply))
            {
        <dl class="worker">
            <dt><span>@FCSSResource.SendTime：@item.SendDate.ToString("yyyy-MM-dd HH:mm")</span>&nbsp;&nbsp;&nbsp;
                @if (item.ExpectReplyDate.HasValue)
                {
                    <span>@FCSSResource.HopeResponseTime：@(item.ExpectReplyDate.HasValue ? item.ExpectReplyDate.Value.ToString("yyyy-MM-dd") : "")</span>@Html.Raw("&nbsp; &nbsp; &nbsp;")
                }
                <span>@FCSSResource.AtThatTimeFollower：@item.CurrentFollower.Name</span>&nbsp;&nbsp;&nbsp;
                @Html.Image("text.png", new { action = ("ur_" + index), @class = "userReplyBtn" })
            </dt>
            <dd class="rw">
                <span class="questionContent">@Html.Raw(item.Content)
                </span>
                @if (item.Attachments.Count > 0)
                {
                    <span style="display: block; border-bottom: 1px dashed #eee;"></span>
                }
                @foreach (var attach in item.Attachments)
                {
                    <span class="attachement">
                        @Html.ActionLink(attach.Name, "Download", "Common", new { id = attach.Id }, null)
                    </span>            
                }
                @if (index == Model.IssueTopInfo.Replys.Count && Model.IssueTopInfo.Replys.Count >= 1)
                {
                    <div class="foldText" title="@FCSSResource.CloseSeeNew" >
                    </div>
                }
            </dd>
            <dd class="qIco">
            </dd>
            <dd action=@("ur_" + index) class="userReply" style="display: none;">
                <fieldset class="form-layout twoCol" style="padding: 0px 10px 10px 10px; overflow: hidden">
                    <div>
                        <label for="WBSNo">
                            @FCSSResource.ReplyType @*回复类型*@：</label>
                        @(item.UReply.ReplyType.HasValue ? I18NUtils.Text(item.UReply.ReplyType) : "")
                    </div>
                    @{
                    var dt = item.UReply.DisposeType.HasValue ? I18NUtils.Text(item.UReply.DisposeType) : "";
                    if (item.UReply.UIType.HasValue)
                    {
                        dt += " -> " + I18NUtils.Text(item.UReply.UIType);

                        if (item.UReply.UIModifyType.HasValue)
                        {
                            dt += " -> " + I18NUtils.Text(item.UReply.UIModifyType);
                        }
                    }
                    }
                    <div>
                        <label for="Name">
                            @FCSSResource.DisposeType @* 问题处理方式*@：</label>
                        @dt
                    </div>
                    @if (item.UReply.ReplyType.Equals(FCSS.Model.Enums.ReplyType.PlanReply))
                    {
                        <div>
                            <label for="WBSNo">
                                @FCSSResource.PlanServiceType @*预计服务方式*@：</label>
                            @(item.UReply.PlanServiceType.HasValue ? I18NUtils.Text(item.UReply.PlanServiceType) : "")
                        </div>
                        <div>
                            <label for="WBSNo">
                                @FCSSResource.PlanDate @*预计对应日期*@：</label>
                            @FormatUtils.Date(item.UReply.PlanDate)
                        </div>
                        <div>
                            <label for="WBSNo">
                                @FCSSResource.PlanServiceTime @* 预计服务时间*@：</label>
                            @item.UReply.PlanServiceTime
                        </div>
                        <div>
                            <label for="WBSNo">
                                @FCSSResource.PlanServiceUserNo @* 预计服务人数*@：</label>
                            @item.UReply.PlanServiceUserNo
                        </div>
                       if (item.UReply.PlanServiceType == FCSS.Model.Enums.ServiceType.Local)
                       {
                        <div>
                            <label for="WBSNo">
                                @FCSSResource.PlanGoToTime @* 预计到达时间*@：</label>
                            @(item.UReply.PlanArriveDateTime.HasValue ? item.UReply.PlanArriveDateTime.Value.ToString("yyyy-MM-dd HH:mm") : "-")
                        </div>
                       }
                    }
                    else
                    {
                        <div>
                            <label for="WBSNo">
                                @FCSSResource.RealityServiceType @* 实际服务方式*@：</label>
                            @(item.UReply.RealityServiceType.HasValue ? I18NUtils.Text(item.UReply.RealityServiceType) : "")
                        </div>
                        <div>
                            <label for="WBSNo">
                                @FCSSResource.RealityDate @* 实际对应日期*@：</label>
                            @FormatUtils.Date(item.UReply.RealityDate)
                        </div>
                        <div>
                            <label for="WBSNo">
                                @FCSSResource.RealityServiceBeginTime @* 实际服务开始时间*@：</label>
                            @FormatUtils.Date(item.UReply.RealityServiceBeginTime)
                        </div>
                        <div>
                            <label for="WBSNo">
                                @FCSSResource.RealityServiceEndTime @* 实际服务结束时间*@：</label>
                            @FormatUtils.Date(item.UReply.RealityServiceEndTime)
                        </div>
                        <div>
                            <label for="WBSNo">
                                @FCSSResource.RealityServiceUserNo @* 实际服务人数*@：</label>
                            @item.UReply.RealityServiceUserNo
                        </div>
                        <div>
                            <label for="WBSNo">
                                @FCSSResource.RealityServiceUsers @* 实际服务人员名单*@：</label>
                            @item.UReply.RealityServiceUsers
                        </div>
                    }
                    <div class="oneRow custom">
                        <label for="WBSNo" style="line-height: 92px; display: inline-block; float: left;">
                            @FCSSResource.CarbonCopyOther @* 抄送组外人员*@：</label>
                        <ul class="accessory cco" style="width: 300px;">
                            @item.UReply.CarbonCopyOther
                        </ul>
                    </div>
                    <div class="oneRow custom">
                        <label for="WBSNo" style="line-height: 92px; display: inline-block; float: left;">
                            @FCSSResource.CarbonCopyUsers @* 抄送组成员*@：</label>
                        <ul class="accessory" style="width: 300px;">
                            @foreach (var ccu in item.UReply.CarbonCopyUsers)
                            {
                                <li>@(ccu.Name + "<" + ccu.Email + ">")</li>
                            }
                        </ul>
                    </div>
                </fieldset>
            </dd>
        </dl>
            }
            if (item.Category.Equals(FCSS.Model.Enums.ReplyCategory.CustomerReply))
            {
        <dl class="client">
            <dt><span>@FCSSResource.SendTime：@item.SendDate.ToString("yyyy-MM-dd HH:mm")</span>&nbsp;&nbsp;&nbsp;
                @if (item.ExpectReplyDate.HasValue)
                {
                    <span>@FCSSResource.HopeResponseTime：@(item.ExpectReplyDate.HasValue ? item.ExpectReplyDate.Value.ToString("yyyy-MM-dd") : "")</span>@Html.Raw("&nbsp; &nbsp; &nbsp;")
                }
                <span>@FCSSResource.AtThatTimeFollower：@item.CurrentFollower.Name</span>&nbsp;&nbsp;&nbsp;
                @Html.Image("text.png", new { action = ("ur_" + index), @class = "userReplyBtn" })
            </dt>
            <dd class="rw">
                <span class="questionContent">@Html.Raw(item.Content)
                </span>
                @if (item.Attachments.Count > 0)
                {
                    <span style="display: block; border-bottom: 1px dashed #eee;"></span>
                }
                @foreach (var attach in item.Attachments)
                {
                    <span class="attachement">
                        @Html.ActionLink(attach.Name, "Download", "Common", new { id = attach.Id }, null)
                    </span> 
                }
                @if (index == Model.IssueTopInfo.Replys.Count && Model.IssueTopInfo.Replys.Count >= 1)
                {
                    <div class="foldText" title="@FCSSResource.CloseSeeNew" >
                    </div>
                }
            </dd>
            <dd class="qIco">
            </dd>
            <dd action=@("ur_" + index) class="userReply" style="display: none;">
                <fieldset class="form-layout twoCol" style="padding: 0px 10px 10px 10px; overflow: hidden">
                    <div class="oneRow custom">
                        <label for="WBSNo" style="line-height: 92px; display: inline-block; float: left;">
                            @FCSSResource.CarbonCopyOther @* 抄送组外人员*@：</label>
                        <ul class="accessory cco" style="width: 300px;">
                            @(item.CReply != null ? item.CReply.CarbonCopyOther : "")
                        </ul>
                    </div>
                    <div class="oneRow custom">
                        <label for="WBSNo" style="line-height: 92px; display: inline-block; float: left;">
                            @FCSSResource.CarbonCopyUsers @* 抄送组成员*@：</label>
                        <ul class="accessory" style="width: 300px;">
                            @if (item.CReply != null)
                            {
                                foreach (var ccu in item.CReply.CarbonCopyUsers)
                                {
                                <li>@(ccu.Name + "<" + ccu.Email + ">")</li>
                                }
                            }
                        </ul>
                    </div>
                </fieldset>
            </dd>
        </dl>
            }

            index++;
        }
    }
    <div class="QBottom">
    </div>
</div>
