@model ShinyBirthday.Web.Models.Shiny.ShinyInfoView
@section Title{
Shiny
}
@section SiteHead{
    <!-- 代码提示 -->
    <script src="../../Scripts/jquery-1.6.1-vsdoc.js" type="text/javascript"></script>
    <!-- Cookies -->
    <script type="text/javascript">
        jQuery.cookie = function (name, value, options) {
            if (typeof value != 'undefined') {
                options = options || {};
                if (value === null) {
                    value = '';
                    options.expires = -1;
                }
                var expires = '';
                if (options.expires && (typeof options.expires == 'number' || options.expires.toUTCString)) {
                    var date;
                    if (typeof options.expires == 'number') {
                        date = new Date();
                        date.setTime(date.getTime() + (options.expires * 24 * 60 * 60 * 1000));
                    } else {
                        date = options.expires;
                    }
                    expires = '; expires=' + date.toUTCString();
                }
                var path = options.path ? '; path=' + options.path : '';
                var domain = options.domain ? '; domain=' + options.domain : '';
                var secure = options.secure ? '; secure' : '';
                document.cookie = [name, '=', encodeURIComponent(value), expires, path, domain, secure].join('');
            } else {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        };

        function getcookie(name) {
            var cookie_start = document.cookie.indexOf(name);
            var cookie_end = document.cookie.indexOf(";", cookie_start);
            return cookie_start == -1 ? '' : unescape(document.cookie.substring(cookie_start + name.length + 1, (cookie_end > cookie_start ? cookie_end : document.cookie.length)));
        }

        function setcookie(cookieName, cookieValue, seconds, path, domain, secure) {
            var expires = new Date();
            expires.setTime(expires.getTime() + seconds);
            document.cookie = escape(cookieName) + '=' + escape(cookieValue)
                                            + (expires ? '; expires=' + expires.toGMTString() : '')
                                            + (path ? '; path=' + path : '/')
                                            + (domain ? '; domain=' + domain : '')
                                            + (secure ? '; secure' : '');
        }
    </script>
    <script type="text/javascript">
        var timer = window.setInterval(ReloadTags, 5000);

        function ReloadTags() {
            _Click_SecurityCode_GetNewCode_2012_1_8_19_46();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetFiveMessage", "Shiny")',
                dataType: "json",
                success: function (data) {
                    var index = 0;
                    $.each(data, function (index, view) {
                        var message = view["Name"];
                        var k = message.indexOf(':');
                        var friendName = message.substring(0, k + 1);
                        var friendMesg = message.substring(k + 1);
                        index++;
                        $("#dt_" + index).html("<a href='#'>" + friendName + "</a>");
                        $("#dd_" + index).html(friendMesg);
                    });
                }
            });
        }

        function BtnAjaxSubmit() {
            $("#ErrorInformation").hide(100);
            var searchUserForm = $("#addissuetag").closest("form");
            searchUserForm.ajaxForm({
                type: "Post",
                success: function (data) {
                    if (data.Success) {
                        $("#ErrorInformation").html("<font color='green'>Success!<font/>").fadeTo(2000, 0.8);
                        ReloadTags();
                        $("#ErrorInformation").hide(100);
                        setcookie('shiny_friend_name', $("#FriendName").val());
                        setcookie('shiny_friend_true_name', $("#FriendRelayName").val());
                        setcookie('shiny_friend_qq', $("#FriendQQ").val());
                        _Click_SecurityCode_GetNewCode_2012_1_8_19_46();
                    } else {
                        $("#ErrorInformation").html("<font color='red'>Error!<font/>").fadeTo(2000, 0.8);
                        $("#ErrorInformation").hide(100);
                    }
                    _Click_SecurityCode_GetNewCode_2011_4_6_17_36();
                }
            }).submit();
        }

        function ClearTextare() {
            if (ifConfirmTrue) {
                if ($("#MessageWords").html() == "那些记忆里的颠沛流离......") {
                    $("#MessageWords").html("");
                }
                $("#addissuetag").fadeTo(1000, 0.8);
            } else
                alert("请先填写您的真实信息，真实信息只有.鲜艳.看的到哦！");
        }

        var ifConfirmTrue = false;
        function ShowFirendsDeteilMessage() {
            $("#TrueMessageDiv").attr("style", "background-image: url(../../Content/Images/rili.jpg); padding: 4px 4px 4px 4px;left: 71.5%; top: 350px; position: relative; width: 340px;");
            $("#TrueMessageDiv").fadeTo(1000, 0.9);
            ifConfirmTrue = false;
        }

        function HideFirendsDeteilMessage() {
            if ($("#FriendRelayName").val().length > 0 && $("#FriendQQ").val().length > 0) {
                $("#TrueMessageDiv").attr("style", "background-image: url(../../Content/Images/rili.jpg); padding: 4px 4px 4px 4px;visibility:hidden;left: 71.5%; top: 350px; position: relative; width: 340px;");
                ifConfirmTrue = true;
            } else { ifConfirmTrue = false; }
        }

        function _Click_SecurityCode_GetNewCode_2011_4_6_17_36() { var img = $(".change-code"); var dateMill = new Date().getMilliseconds(); img.prev().attr("src", '/SecurityCodes/GetCode' + "?item=" + dateMill); }
        function _Click_SecurityCode_GetNewCode_2012_1_8_19_46() { var img = $(".trigic_Img"); var dateMill = new Date().getMilliseconds(); img.attr("src", '/SecurityCodes/GetTraffic' + "?item=" + dateMill); }
    </script>
}
@section SiteMap{
    @*@Model.Name @Model.Id @Model.Age @Model.Hobby*@
    @Html.ActionLink("照片墙", "AllLeaveMessages", "Shiny")
}
@section SitePageName{
    @{
        var abc = Html.TrificImg();
        @Html.Raw(abc); <span style="margin: 0 0 0 0px;"> <a href="#">尽情的祝福吧...</a></span>
    }
}
<!-- 错误消息 -->
<div id="ErrorInformation" style="display: none; font-size: 30px; position: absolute;
    left: 82.5%; top: 470px; z-index: 10;">
</div>
<br />
<!-- 朋友的留言 -->
<div id="tickerContainer" title="最新10条留言" style="text-align: left; margin-top: 0;
    position: absolute; left: 25px;">
    <dl id="ticker" style="width: 250px; height: 455px; border: 1px solid #D7D4C1; overflow: auto;">
        <dt class="ticker_dt" id="dt_1">Love is now or never... </dt>
        <dd class="ticker_dd" id="dd_1">
            One is always on a strange road, watching strange scenery and listening to strange
            music. Then one day, you will find that the things you try hard to forget are already
            gone.</dd>
        <dt>&nbsp;</dt>
        <dt class="ticker_dt" id="dt_2">Love is now or never... </dt>
        <dd class="ticker_dd" id="dd_2">
            Happiness is not about being immortal nor having food or rights in one's hand. It’s
            about having each tiny wish come true, or having something to eat when you are hungry
            or having someone's love when you need love.
        </dd>
        <dt>&nbsp;</dt>
        <dt class="ticker_dt" id="dt_3">Love is now or never... </dt>
        <dd class="ticker_dd" id="dd_3">
            Love is a lamp, while friendship is the shadow. When the lamp is off,you will find
            the shadow everywhere. Friend is who can give you strength at last.
        </dd>
        <dt>&nbsp;</dt>
        <dt class="ticker_dt" id="dt_4">Love is now or never... </dt>
        <dd class="ticker_dd" id="dd_4">
            I love you not for who you are, but for who I am before you.
        </dd>
        <dt>&nbsp;</dt>
        <dt class="ticker_dt" id="dt_5">Love is now or never... </dt>
        <dd class="ticker_dd" id="dd_5">
            If you can hold something up and put it down, it is called weight-lifting; if you
            can hold something up but can never put it down,it's called burden-bearing. Pitifully,
            most of people are bearing heavy burdens when they are in love.
        </dd>
        <dt>&nbsp;</dt>
        <dt class="ticker_dt" id="dt_6">Love is now or never... </dt>
        <dd class="ticker_dd" id="dd_6">
            We all live in the past. We take a minute to know someone, one hour to like someone,
            and one day to love someone, but the whole life to forget someone.
        </dd>
        <dt>&nbsp;</dt>
        <dt class="ticker_dt" id="dt_7">Love is now or never... </dt>
        <dd class="ticker_dd" id="dd_7">
            Good love makes you see the whole world from one person while bad love makes you
            abandon the whole world for one person.</dd>
        <dt>&nbsp;</dt>
        <dt class="ticker_dt" id="dt_8">Love is now or never... </dt>
        <dd class="ticker_dd" id="dd_8">
            I know someone in the world is waiting for me, although I've no idea of who he is.
            But I feel happy every day for this.
        </dd>
        <dt>&nbsp;</dt>
        <dt class="ticker_dt" id="dt_9">Love is now or never... </dt>
        <dd class="ticker_dd" id="dd_9">
            Stray birds of summer come to my window to sing and fly away. And yellow leaves
            of autumn, which have no songs, flutter and fall there with a sign.
        </dd>
        <dt>&nbsp;</dt>
    </dl>
</div>
<!-- 留言动作 -->
@using (Html.BeginForm("AddMessage", "Shiny", FormMethod.Post, new { id = "AddMessageForm" }))
{
    var str = Html.SecurityCodes("SCode");
    
    <div id="TrueMessageDiv" style="background-image: url(../../Content/Images/rili.jpg);
        padding: 4px 4px 4px 4px; visibility: hidden; left: 71.5%; top: 350px; position: relative;
        width: 340px;">
        真名：<input type="text" id="FriendRelayName" name="FriendRelayName" style="width: 80px;
            padding: 0px 10px 0px 2px;" />&nbsp;&nbsp;&nbsp;&nbsp; QQ：<input type="text" id="FriendQQ"
                name="FriendQQ" style="width: 80px; padding: 0px 10px 0px 2px;" />&nbsp;
        <a href="javascript:HideFirendsDeteilMessage()" title="我是男银我以男烎的名义发誓信息真实；
我是女银我以女烎的名义许诺信息真实！
真实信息只有.鲜艳.看的到哦！" style="font-size: 10px;">保证真实</a>
    </div>
    <div style="background-image: url(../../Content/Images/rili.jpg); padding: 4px 4px 4px 4px;
        left: 71.5%; top: 348px; position: relative; width: 340px;">
        姓名：<input type="text" onclick="ShowFirendsDeteilMessage()" id="FriendName" name="FriendName"
            style="width: 80px; padding: 0px 10px 0px 2px;" />
        &nbsp;&nbsp;&nbsp;&nbsp;<span style="margin: 0px 0px 0px 0px;">验证：</span> @*<img id="ImgYanZheng" alt="验证" src="../../Content/Images/CheckingImg/" style="width: 50px; height: 16px;
            margin: 2px 0px 0px 0px; padding: 0px 0px 0px 0px; position: absolute;" />*@
        @Html.Raw(str)
        <span style="margin: 0px 51px 0px 0px;"></span>=&nbsp;&nbsp;<input type="text" onclick="javascript:this.value=''"
            id="YanzhengValue" name="YanzhengValue" style="width: 20px;" title="" />
        <a href="javascript:_Click_SecurityCode_GetNewCode_2011_4_6_17_36();" style="font-size: 10px;">
            换一张</a>
        <textarea name="MessageWords" onclick="ClearTextare()" class="bor input_click" ucflag="0"
            id="MessageWords" rows="4" cols="60" style="color: #3A6EA5; padding: 10px 10px 5px 10px;">那些记忆里的颠沛流离......</textarea>
    </div>
    <div style="position: absolute; top: 512px; left: 94%;">
        <input type="button" id="addissuetag" onclick="BtnAjaxSubmit()" name="addissuetag"
            value="提交" style="cursor: pointer; display: none;" />
    </div>
}
<script type="text/javascript">
    $(function () {

        _Click_SecurityCode_GetNewCode_2011_4_6_17_36();
        _Click_SecurityCode_GetNewCode_2012_1_8_19_46();

        $("#FriendName").val(getcookie('shiny_friend_name'));
        $("#FriendRelayName").val(getcookie('shiny_friend_true_name'));
        $("#FriendQQ").val(getcookie('shiny_friend_qq'));

        //cache the ticker
        var ticker = $("#ticker");

        //wrap dt:dd pairs in divs
        ticker.children().filter("li").each(function () {

            var dt = $(this),
		    container = $("<div>");

            dt.next().appendTo(container);
            dt.prependTo(container);

            container.appendTo(ticker);
        });

        //hide the scrollbar
        ticker.css("overflow", "hidden");

        //animator function
        function animator(currentItem) {

            //work out new anim duration
            var distance = currentItem.height();
            duration = (distance + parseInt(currentItem.css("marginTop"))) / 0.01;

            //animate the first child of the ticker
            currentItem.animate({ marginTop: -distance }, duration, "linear", function () {

                //move current item to the bottom
                currentItem.appendTo(currentItem.parent()).css("marginTop", 0);

                //recurse
                animator(currentItem.parent().children(":first"));
            });
        };

        //start the ticker
        animator(ticker.children(":first"));

        //set mouseenter
        ticker.mouseenter(function () {

            //stop current animation
            ticker.children().stop();

        });

        //set mouseleave
        ticker.mouseleave(function () {

            //resume animation
            animator(ticker.children(":first"));

        });
    });
</script>
